@forward "global";
@forward "components";
@forward "util";

@use "./util/" as ut;

button {
  height: 150px;
  width: 150px;
  background-color: #f8f1db;
  color: #152224;
  font-size: medium;
  font-style: italic;
  text-align: center;
  border-radius: 50%;
  border: none;
  border: 1px solid #1c7c54;
  transition: background-color 0.25s;
  font-size: 1.3rem;

  &:hover {
    background-color: #152224;
    color: #f8f1db;
    opacity: 70%;
    cursor: pointer;
  }
  &:active {
    box-shadow: 1px 1px 10px #00ffd5;
    font-size: larger;
    opacity: 1;
  }

  @include ut.breakpoint(xLarge) {
    width: 140px;
    height: 140px;
    font-size: 1.2rem;
  }
  @include ut.breakpoint(large) {
    width: 130px;
    height: 130px;
    font-size: 1.2rem;
  }
  @include ut.breakpoint(medium) {
    width: 65px;
    height: 65px;
    font-size: 1rem;
  }
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 11px;
  width: 9px;
  border: 1px solid #ebd48a;
  border-radius: 30%;
  background: rgb(255, 255, 255);
}
