body {
    background-color: #d6e2cf;
    padding-bottom: 20px;
    border-bottom: 5px solid #152224;
    border-radius: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outerStyle {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-around;
}

.innerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
    box-shadow: 10px 1px 17px #000000;
    border-radius: 50%;
}

img:hover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 10px 1px 17px #000000;
}

.content {
    /*  to remove whitespace of child */
    font-size: 0px;
    background-color: #152224;
    border-radius: 10px;
    border: 3.5px solid #ebd48a;
    margin: 10px;
    box-shadow: 1px -1px 17px #ebd48a;
    margin-bottom: 50px;
}

h1 {
    color: #354f52;
    text-align: center;
    font-size: 3rem;
    margin-left: 65px;
}

.A {
    color: #354f52;
    transform: scale(1, -1);
    font-size: 5rem;
    margin-top: -90px;
    margin-right: 5px;
}

.classOfEachRow {
    /* border: 0.1px solid rgb(24, 105, 92); */
    height: 5px;
    width: 5px;
    display: inline-block;
}

.clicked {
    background-color: #f0f8ff;
}

.button1,
.button5 {
    display: flex;
    justify-content: center;
}

button {
    /* background-color: rgb(210, 224, 223); */
    height: 110px;
    width: 110px;
    background-color: #f8f1db;
    color: #152224;
    font-size: medium;
    font-style: italic;
    text-align: center;
    border-radius: 50%;
    border: none;
    border: 1px solid #1c7c54;
    transition: background-color .25s;
}

button:hover {
    background-color: #152224;
    color: #f8f1db;
    opacity: 90%;
}

button:active {
    box-shadow: 1px 1px 10px #00ffd5;
    font-size: larger;
    opacity: 50%;
}

.innerButton {
    display: flex;
    flex-direction: column;
}

.button2,
.button4 {
    margin-top: 20px;
}

.colorPickerBtn {
    background-color: #f8f1db;
    border: none;
    padding: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.rgbButtonInput {
    border: none;
    padding: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.color {
    width: 34px;
    height: 33px;
    border-radius: 50%;
}

.nice {
    background-color: red;
}

.button5 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.range {
    width: 90px;
    /* appearance: none; */
}