body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(7, 21, 43); */
}

.main {
    /* background-color: rgb(52, 59, 65); */
}

h1 {
    margin: 0;
    color: rgb(170, 142, 107);
}

.classOfEachRow {
    border: 1px solid rgb(24, 105, 92);
    border-top: 1px solid rgb(233, 184, 195);
    height: 35px;
    width: 35px;
    margin: 5px;
    display: inline-block;
}

.clicked {
    background-color: aquamarine;
}

.clear {
    width: 120px;
    height: 40px;
    border: 1px solid rgb(24, 105, 92);
    background-color: rgb(74, 177, 142);
    color: antiquewhite;
    border-radius: 10px;
    font-size: x-large;
    text-align: center;
}