@use "../util/" as ut;

.grid {
  display: flex;
  justify-content: center;
  padding-right: 20px;
  &__custom {
    padding-right: 20px;
    &__button {
      &:active {
        font-size: medium !important;
      }
      @include ut.breakpoint(medium) {
        font-size: 0.9rem !important;
      }
    }
  }
}

.grid__custom__button__range {
  appearance: none;
  width: 90px;
  height: 12px;
  cursor: pointer;
  border: 3px solid #ebd48a;
  background-color: #152224;
  border-radius: 10px;
  margin-top: 4.5px;

  @include ut.breakpoint(xLarge) {
    width: 85px;
    height: 12px;
  }
  @include ut.breakpoint(large) {
    width: 83px;
    height: 12px;
  }
  @include ut.breakpoint(medium) {
    width: 30px;
    height: 10px;
  }
}
.gridToggleColor {
  border: 1px solid rgb(24, 105, 28);
}
